APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=http://panel.example.com
APP_INSTALLED=false
APP_LOCALE=en
APP_NAME=NLManager

DB_CONNECTION=sqlite
DB_DATABASE="database.sqlite"

CACHE_STORE=file

QUEUE_CONNECTION=database

SESSION_DRIVER=file
